* {
	box-sizing: border-box;
}
body {
	font-family: 'Open-Sans', sans-serif;
	margin:0;
}
.container {
	max-width: 1920px; /* .psd resolution */
	margin: 0 auto;
	padding: 0 218px;
}
.container:before,
.container:after {
	display: block;
	content: "";
	clear: both;
}

/*HEADER SECTION*/
.header {
	height: 185px;
	background-color: #7fb133;
}
.header img {
	float: left;
	margin: 20px 0 0 30px;
}
.header h1 {
	padding-top: 110px;
	color: #fff;
	height: 100px;
}
.empty_box {
	position: absolute;
	top: 15px;
	right: 350px;
}

/*ORDER SECTION*/
.order {
	padding: 30px;
	margin-left: 85px;
}
.order p {
	float: left;
	background-color: #f6bf3a;
	border-radius: 15px;
	padding: 8px 45px;
	margin: 0;
	font-size: 14px;
	color: #fff;
}
.order .not-active-p {
	background-color: #e1e1e1;
	color: 969696;
}
.order .line {
	border-radius: 0;
	max-width: 200px;
	margin: 12px 0;
	padding: 3px 30px;
}
.order .line-silver {
	background-color: #e1e1e1;
}

/*MAIN HEADER SECTION*/
.main-header {
	background-color: #f0f0f0;
}
.main-header h2, h3 {
	display: inline-block;
	font-weight: 200;
	margin: 0;
}
.main-header h2 {
	padding: 10px 100px;
	background-color: #7fb133;
	color: #fff;
}
.main-header h3 {
	padding-left: 20px;
	color: #7fb133;
}
.main-header .rotate{
	position: absolute;
	margin: -10px 0 0 113px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #7fb133;
	height: 20px;
	width: 20px;
}

/*MAIN SECTION*/
.main-section {
	background-color: #f8f8f8;
	margin: 0;
	height: 530px;
}
.center-form {
	float: left;
	margin: 70px 0 0 40px;
}
.right-form {
	float: right;
}
.main-section .lemon-img {
	margin-top: 110px;
	background-color: #fff;
	padding: 20px 75px;
	border: 2px solid #7fb133;
	border-radius: 150px;
	float: left;
}
.main-section .center-form-div{
	position: relative;
	margin: 20px 0;
}
.main-section input[type="radio"] {
	display:none;
}
.main-section input[type="radio"] + label {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 30px;
	border: 1px solid #7fb133;
	cursor: pointer;
}
.main-section input[type="radio"]:checked + label {
	background-color: #7fb133;
}
.prise-type {
	position: absolute;
	top: 22px;
	left: 140px;
	font-size: 13px;
	color: #9c9c9c;
}
.hover-info {
	display: none;
	position: absolute;
	top: -250px;
	left: -110px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 300px;
	padding: 15px 20px;
	z-index: 1;
}
.hover-info h5 {
	margin: 20px;
	font-size: 23px;
	color: #7fb133;
}
.hover-info p {
	margin: 20px;
	font-size: 14px;
	color: #a2a19e;
}
.hover-info .romb {
	position: absolute;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: -30px;
	left: 135px;
	width: 20px;
	height: 20px;
	background-color: #fff;
}
.prise-type:hover .hover-info {
	display: block;
}
.prise-type:hover .question-mark {
	right: 228px;
}
.prise-type:hover .question-mark-second {
	right: 227px;
}
.prise-type:hover .question-mark-third {
	right: 248px;
}
.main-section .question-mark {
	position: absolute;
	top: 0;
	right: -20px;
	border: 1px solid #9c9c9c;
	border-radius: 7px;
	padding: 1px 4px;
	font-size: 10px;
}
.main-section .prise-pic {
	position: absolute;
	left: 240px;
	top: 5px;
}
.main-section input[type=number]::-webkit-inner-spin-button, 
.main-section input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.main-section input[type="number"] {
	position: absolute;
	text-align: center;
	left: 350px;
	top: 5px;
	padding: 15px 3px;
	border: none;
	background-color: #a2a19e;
	color: #fff;
}
.main-section .white-line {
	background-color: #fff;
	height: 2px;
	width: 300px;
	margin: 0 30px;
}
.vertical-line {
	position: absolute;
	left: 930px;
	margin-top: 50px;
	width: 1px;
	height: 350px;
	background-color: #b3b3b3;
}
.input-form {
	border: 1px solid #e1e1e1;
	padding: 30px;
	max-width: 300px;
	text-align: center;
}
.input-form input[type=checkbox] {
	display: none;
}
.input-form label {
	position: absolute;
	cursor: pointer;
	width: 25px;
	height: 25px;
	background: transparent;
	border:1px solid #7fb133;
	z-index: 99;
}
.input-form label:after {
	position: absolute;
	opacity: 0;
	content: '';
	width: 14px;
	height: 7px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 2px solid #7fb133;
	border-top: none;
	border-right: none;
	transform: rotate(-50deg);
}
.input-form input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.input-form span {
	margin: 35px 0 0 50px;
	font-size: 23px;
	letter-spacing: 1px;
	color: #7fb133;
}
.input-form p {
	font-weight: bold;
	font-size: 13px;
	color: #9c9c9c;
	margin-top: 25px;
}
.input-form h6 {
	font-size: 23px;
	color: #7fb133;
	margin: 25px 0 20px 0;
	border-bottom: 1px solid #7fb133;
}
.input-form input[type="text"] {
	text-align: center;
	outline: none;
	background-color: transparent;
	border: 1px solid #c6c6c6;
	border-radius: 2px;
	color: #c6c6c6;
	font-size: 15px;
	padding: 15px 0;
	width: 116px;
}
.input-form button {
	width: 100%;
	padding: 10px 0;
	margin-top: 30px;
	background-color: #cecece;
	border: 1px solid #c6c6c6;
	border-radius: 2px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.submit-but {
	width: 300px;
	padding: 20px;
	border: none;
	border-radius: 3px;
	background-color: #f7bf38;
	color: #fff;
	font-size: 17px;
	opacity: 0.8;
	cursor: pointer;
}
.submit-but:hover {
	opacity: 1;
	transition: 0.3s;
}
.green-line {
	height: 20px;
	background-color: #7fb133;
}

/*FOOTER SECTION*/
.footer-nav {
	text-align: right;
	padding: 5px 0;
	background-color: #f0f0f0;
}
.footer-nav ul {
	list-style-type: none;
	margin-right: 80px;
}
.footer-nav li {
	display: inline-block;
}
.footer-nav a {
	margin-right: 20px;
	text-decoration: none;
	font-size: 13px;
	color: #9d9f9a;
}